.body {
    background-color: rgb(17,207,207);
    width: 1000px;
    height: 600px;
    margin: auto;
}
.header {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}
.form {
    width: 80%;
    margin: 0 auto;

}
.container {
    box-sizing: border-box;
}
.float-child {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.nameAddress {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: none;
    width: 92%;
}
::placeholder {
    color: rgb(152, 151, 155);
    font-family: Calibri, sans-serif;
    font-size: 15px;
}
.companyPhone {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: none;
    width: 42%;
}
.messageDetails {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: none;
    width: 92%;
}
button {
    background-color: rgb(253,235,58);
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 10px;
}
.button {
    text-align: right;
}
.findUsHere {
    text-align: left;
    color: white;
    font-size: 24px;
}
.sampleAddress {
    text-align: left;
    color: white;
    font-size: 16px;
    margin: 0px;
}
.maps {
    text-align: left;
    color: rgb(171, 233, 121);
    font-size: 16px;
    margin: 0px;
}
.phoneList {
    text-align: left;
    color: white;
    font-size: 16px;
    padding-inline-start: 16px;
}